html {
  --bg: hsl(0deg, 0%, 7%);
  --text: hsl(200deg, 4%, 85%);
  --border: #ffffff59;
  --bold-marker: rgba(138, 135, 0, 1);
  --link: hsl(329deg, 80%, 70%);
  --link-visited: #9c81fa;
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}
body {
  margin: 0;
  padding-block: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 720px;
  padding-inline: 16px;
}

h1,
h2,
h3 {
  margin: unset;
}
h2 {
  border-block-end: 1px solid var(--border);
}
h1 {
  font-size: 2rem;
}
p {
  line-height: 1.75;
  margin: unset;
  text-align: justify;
}
ul,
ol {
  line-height: 1.75;
  margin: unset;
  padding: unset;
  padding-inline-start: 2rem;
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.section-like,
.stack,
section {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-6 {
  gap: 24px;
}

strong {
  font-weight: 700;
  text-decoration: underline 30% var(--bold-marker);
  text-underline-offset: -0%;
}

em {
  text-emphasis: dot;
  font-style: normal;
}

footer small {
  font-size: 1em;
  display: block;
  text-align: right;
}
